
BODY {
    TEXT-ALIGN: center
}
BODY {
    FONT-SIZE: 12px; LINE-HEIGHT: 12pt; FONT-FAMILY: "Verdana", "??"; TEXT-DECORATION: none
}
TABLE {
    FONT-SIZE: 12px; LINE-HEIGHT: 12pt; FONT-FAMILY: "Verdana", "??"; TEXT-DECORATION: none
}
A {
    FONT-SIZE: 12px; LINE-HEIGHT: 12pt; FONT-FAMILY: "Verdana", "??"; BACKGROUND-COLOR: transparent
}
SELECT {
    FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "??"; TEXT-DECORATION: none
}
TABLE {
    BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A {
    FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:active {
    FONT-WEIGHT: normal; COLOR: #ff0000; FONT-SIZE: 9pt;  FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
    FONT-WEIGHT: normal; COLOR: #ff3300; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.first:active{
    FONT-WEIGHT: normal; COLOR: #ff0000; FONT-SIZE: 9pt;  FONT-STYLE: normal; TEXT-DECORATION: none
}
A.first:hover{
    FONT-WEIGHT: normal; COLOR: #ff3300; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.first:visited{
    FONT-WEIGHT: normal; COLOR: #ff3300; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.h2 {
    FONT-SIZE: 12px;  WIDTH: 300px
}
.tbg TD {
    BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 28px;
    vertical-align:middle
}
.tbg1 TD {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 60px;FONT-SIZE: 18px;
    vertical-align:middle
}
.tbg2 TD {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 28px;
    vertical-align:middle
}
.tbg3 TD {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 28px;
    vertical-align:bottom
}
.tbg TD A {
    WIDTH: 100%; COLOR: #000000; PADDING-TOP: 3px; HEIGHT: 100%; BACKGROUND-COLOR: #e6e6e6; TEXT-DECORATION: none
}
.tbg TD A:hover {
    WIDTH: 100%; COLOR: #003366; PADDING-TOP: 3px; HEIGHT: 100%; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.input0 {
    BORDER-RIGHT: #ffffff 1px dashed; BORDER-TOP: #ffffff 1px dashed; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #ffffff 1px dashed; WIDTH: 90px; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px dashed; TEXT-ALIGN: left
}
.tab1 {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid;
}
.tab2 {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.tab3 {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid;BORDER-BOTTOM: #999999 1px solid
}
.tab4 {
    BORDER-LEFT: #999999 1px solid; BORDER-TOP: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed
}
.tab5 {
    BORDER-BOTTOM: #999999 1px dashed;BORDER-RIGHT: #999999 1px dashed; BORDER-LEFT: #999999 1px dashed;
}
.tab6 {
    BORDER-TOP: #999999 1px dashed;BORDER-LEFT: #999999 1px dashed; BORDER-RIGHT: #999999 1px solid
}
.input1 {
    BORDER-RIGHT: #000000 1px dashed; BORDER-TOP: #000000 1px dashed; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px dashed; WIDTH: 110px; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px dashed; TEXT-ALIGN: left
}
.input2 {
    BORDER-RIGHT: #000000 1px dashed; BORDER-TOP: #000000 1px dashed; BORDER-LEFT: #000000 1px dashed; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px dashed; TEXT-ALIGN: left
}
.input3 {
    BORDER-RIGHT: #000000 1px dashed; BORDER-TOP: #000000 1px dashed; BORDER-LEFT: #000000 1px dashed; COLOR: #000000; BORDER-BOTTOM: #000000 1px dashed; TEXT-ALIGN: center
}
.inputs {
    BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #003366 1px solid; WIDTH: 29px; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid
}
.search {
    BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #003366 1px solid; WIDTH: 90px; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid
}
.input00 {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BACKGROUND: #999999; BORDER-LEFT: #000000 1px solid; WIDTH: 44px; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid
}
.input0a {
    BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BACKGROUND: #999999; BORDER-LEFT: #999999 1px solid; WIDTH: 100px; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid
}
.input0b {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; WIDTH: 80px; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid
}
.input01 {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; WIDTH: 95px; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid
}
.input02 {
    BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT-SIZE: 12px; BACKGROUND: #ddedff; BORDER-LEFT: #003366 1px solid; WIDTH: 44px; COLOR: #003366; BORDER-BOTTOM: #003366 1px solid
}
.input03 {
    BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT-SIZE: 12px; BACKGROUND: #c4e2ff; BORDER-LEFT: #003366 1px solid; WIDTH: 44px; COLOR: #003366; BORDER-BOTTOM: #003366 1px solid
}
.input04 {
    BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #003366 1px solid; COLOR: #003366; BORDER-BOTTOM: #003366 1px solid
}
.input05 {
    BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #003366 1px solid; WIDTH: 300px; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid
}
.input06 {
    BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #003366 1px solid; COLOR: #000000; BORDER-BOTTOM: #003366 1px solid
}
.table1t {
    BORDER-TOP: #000000 1px solid
}
.table1b {
    BORDER-BOTTOM: #000000 1px solid
}
.td3px {
    PADDING-TOP: 3px
}

.TEXTAREA {
    BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 9pt; OVERFLOW: auto; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: 'Comic Sans MS'
}
/*
A.9ptlink:hover {
       FONT-SIZE: 9pt; COLOR: red
   }
A.9ptlink:link {
       FONT-SIZE: 9pt; COLOR: red; TEXT-DECORATION: underline
   }
A.9ptlink:visited {
       FONT-SIZE: 9pt; COLOR: red; TEXT-DECORATION: underline
   }
A.9ptlink:active {
       FONT-SIZE: 9pt; COLOR: red; TEXT-DECORATION: underline
   }
A.9ptblacklink:hover {
       FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: underline
   }
A.9ptblacklink:link {
       FONT-SIZE: 9pt; COLOR: black
   }
A.9ptblacklink:visited {
       FONT-SIZE: 9pt; COLOR: red
   }
A.9ptblacklink:active {
       FONT-SIZE: 9pt; COLOR: black; TEXT-DECORATION: underline
   }
 */
INPUT.timezone {
    BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
A.nav_a1:link {
    FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: none
}
A.nav_a1:visited {
    FONT-SIZE: 9pt; COLOR: red; TEXT-DECORATION: none
}
A.nav_a1:active {
    FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: none
}
A.nav_a1:hover {
    FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: none
}
.imgborder {
    BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.btn {
    BORDER-RIGHT: #737373 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px; BACKGROUND: #cacaca; BORDER-LEFT: #cdcdcd 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #737373 1px solid; LETTER-SPACING: 0px; HEIGHT: 18px
}
input {
    BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid; FONT-FAMILY: verdana
}
.urs {
    BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: #b1bac2; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid; FONT-FAMILY: verdana
}